.container {
    height: 600px;
    width: 400px;
    border: 1px solid #9e9e9e;
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    overflow: hidden;
}

.previousElapsedTime { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width:480px)  { 
    .container {
        height: 100%;
        width: 100%;
        border: none; 
    }
}
